.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* BELOW NAVBAR */
.body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

/* CONTENT AREA */
.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background: #f3f4f6;
}